<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add Anggota Form</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="row col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Add Anggota Student</h2>
          </div>
          <div class="card-body">
            <form role="form" method="post" th:action="@{/admin/anggotas/add}" th:object="${anggotaDto}">
                <div class="mb-3">
                <label class="form-label">Fist Name</label>
                <input type="text" class="form-control"
                       placeholder="Enter Nama Daerah" th:field="*{firstName}">
                <p th:if="${#fields.hasErrors('firstName')}" class="text-danger"
                   th:errors="*{firstName}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control"
                       placeholder="Enter Deskripsi" th:field="*{lastName}">
                <p th:if="${#fields.hasErrors('lastName')}" class="text-danger"
                   th:errors="*{lastName}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label">Kelas</label>
                <input type="text" class="form-control"
                       placeholder="Enter Deskripsi" th:field="*{kelas}">
                <p th:if="${#fields.hasErrors('kelas')}" class="text-danger"
                   th:errors="*{kelas}"></p>
              </div> 
              <div class="mb-3">
<!--                 <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="daerahDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pilih Daerah
                    </button>
                    <div class="dropdown-menu" aria-labelledby="daerahDropdown">
                        <th:block th:each="cat : ${listDaerahs}">
                            <a class="dropdown-item" href="#" th:data-value="${cat.id}" th:text="${cat.namaDaerah}"></a>
                        </th:block>
                    </div>
                </div>-->
<!--                <label class="form-label">Daerah</label>
                <select name="daerah" class="form-control" multiple="multiple" required>
                    <option th:each="cat : ${listDaerahs}" th:value="${cat.id}" th:text="${cat.namaDaerah}"></option>
                </select>-->
                <label class="form-label">Daerah</label>
                <select th:field="*{daerah}" class="form-control" multiple="multiple" required>
                                <th:block th:each="cat : ${listDaerahs}">
                                    <option th:text="${cat.namaDaerah}" th:value="${cat.id}">
                                </th:block>
                 </select>
<!--                <p th:if="${#fields.hasErrors('course')}" class="text-danger"
                   th:errors="*{course}"></p>-->
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>