<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
    <head> 
        <meta charset="UTF-8">
        <title>Student Web App</title>
    </head>
    <body>
        <div layout:fragment="content">
        <form method="get" th:action="@{/admin/daerahs}">
            <label for="Name">Search by Name:</label>
            <input type="text" id="Name" name="keyword" th:value="${keyword}"/>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
         <br>
            <table class="table table-bordered table-striped">
      <thead>
        <th styles="width:10%"> NO </th>
        <th styles="width:20%"> Nama Daerah </th>
<!--        <th styles="width:20%"> Deskripsi </th>
        <th styles="width:10%"> Anggota </th>
        <th styles="width:10%"> Kegiatan </th>
        <th styles="width:20%"> action </th>-->
      </thead>
        <tbody>
            <tr th:each="stdDo,index : ${daerahDtos}">
                <td th:text="${index.count}">No</td>
                <td>
                <a th:href="@{/admin/daerahs/identitas/{id}(id=${stdDo.id})}">
                  <span th:text="${stdDo.namaDaerah}">first-name</span>
                </a>
              </td>
<!--                <td th:text="${stdDo.deskripsi}">last-name</td>
                <td>
                    <span th:each="anggota : ${stdDo.anggota}">
                        <span th:text="${anggota.firstName} + ' ' + ${anggota.lastName}"></span>
                        <br/>
                    </span>
                </td>
                <td>
                    <span th:each="kegiatan, iterStat : ${stdDo.kegiatan}">
                        <span th:text="${iterStat.count} + '. ' + ${kegiatan.namaKegiatan}"></span>
                        <br/>
                    </span>
                </td>
-->                <td sec:authorize="hasRole('ADMIN')" >    
                    <a onclick="alert(`Anda akan mengupdate data`)" th:href="@{/admin/daerahs/update/{id}(id=${stdDo.id})}" type="submit" class="btn btn-primary">Update</a>
                    <a onclick="alert(`Anda akan menghapus data`)" th:href="@{/admin/daerahs/delete/{id}(id=${stdDo.id})}" type="submit" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${notFound}">
        <div class="popup">
            <p>Data tidak ditemukan!</p>
    </div>
        </div>
    </body>
</html>