/*body{
    margin: 0;
    background-color: blue;
}

.container-fluid{
    background-color: red;
}

.gambar {
    max-width: 40px; 
    height: auto;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }*/
